.project-card {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 16px;
    margin: 8px;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 700px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 1000px;
}

a {
    border: 2px solid grey;
    padding: 6px;
    border-radius: 4px;
    text-decoration: solid;
}
